.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0 0;
}

.over-all-size {
  width: 1100px;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.logo {
  display: flex;
}

header,
nav {
  margin: 0px auto;
  background-color: rgb(255, 253, 253);

}

header {
  height: 720px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;

}

nav ul li a {
  text-decoration: none;
  margin-right: 50px;
  font-weight: bold;
  font-size: 18px;
}

.nav-btn {
  width: 140px;
  height: 40px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
}


.heading-section {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.heading-content {
  /* margin: 80px auto; */
  margin-top: 80px;
  width: 500px;
}

.heading-content h1 {
  font-weight: bold;
  font-size: 48px;
}

.orange {
  color: #FEA301;
}

.blue {
  color: #01ACFD;
}

.sky {
  color: #05D4DF;
}

.purple {
  color: #5D58EF;
}

.heading-content p {
  font-size: 20px;
}

.content-btn {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
}

/* here start main  */

main {
  background-image: url(assets/bg.png);
}

.curriculum-section {
  width: 1100px;
  margin: 10px auto;
}

.curriculum-section h1 {
  text-align: center;
  padding: 50px;
}

.curriculum {
  width: 330px;
  text-align: center;
  /* background-color: #bcd8e5; */
  /* background: linear-gradient(to bottom, black 5%,white 25%); */
  border-radius: 16px;

}
.linera-sky{
  background: linear-gradient(to bottom, #DEF5FF 5%, white 30% );
}
.linera-offwhite{

  background: linear-gradient(to bottom, #FFF4DC 5%, white 30% );
}
.linear-3rd{
  background: linear-gradient(to bottom, #F2E8FF 5% , white 30%);
}


.curriculum-container {
  display: flex;
  gap: 50px;


}

.curriculum-item {
  padding: 30px 22px;
  color: black;
}
.bold{
  font-weight: bold;
}
.dark-3{
  color: #808080;
  font-size: 12px;
}
.btn{
  border: none;
  background-color: white;
}




/* our stories section start from here */
.stories{
  background-image: url(assets/bg.png);
  background: linear-gradient( to top, rgba(255, 158, 3, .3) 10%, white 90%);
  to bottom, #DEF5FF 5%, white 30% 
}
.stories-container{
  width: 1100px;
  margin: 20px auto;
  /* display: flex; */
}
.stories-container{
  /* display: grid; */
  /* grid-template-columns: repeat(4,1fr) */
  /* justify-content: end; */
}


.stories-container {
  display: grid;
  grid-template-columns: auto auto auto auto ; /* big + 2 small columns */
  gap: 10px;
  /* margin: 0px 10px; */
}

.big {
  /* width: 400px; */
  grid-row: span 2;
  grid-column: span 2;   /* makes left card taller */
  width: 100%;
  /* height: auto; */
}
.stories-item .image{
  width: 100%;
  height: auto;
}

.small h6 {
  font-weight: bold;
  font-size: 15px;
  padding-left: 20px;
}

.stories-item{
  background-color: white;
  border-radius: 16px;
  
}
.stories-item img{
  border-radius: 16px;
  width: 100%;
}

.stories-item h5,p{
  /* padding: 25px ; */
}
.stories-item h5,p{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 0 20px;
  padding-bottom: 10px;
}
.stories-item p{
  font-weight: 500;
  font-size: 15px;
  color: #666666;
}





.big .image-big{
  width: auto;
}
/* .big .image{
  width: 100%;
} */
/* .stories-item-big{
  width: 300px;
} */
.stories-item:nth-child(1){
  grid-row: span 2;
  grid-column: span 2;
}


/* footer start from here */
footer{
 background-color: #01ACFD;
}

.last{
  width: 1100px;
  margin: 0px auto;
}
.last-content{
  width: 320px;
  /* display: flex; */
}
.logo-text{
  display: flex;
  align-items: center;
  /* padding-right: px; */
}
.logo-text h1{
  padding-bottom: px;
  letter-spacing: 0%;
}
.last-content p{
  /* display: inline; */
  font-size: 16px;
  font-weight: normal;
}

.last-container{
  /* margin: 200px auto; */
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: white;
}
.about-school h4{
  margin-left: 40px;
  font-weight: bold;
  font-size: 22px;
}
.about-school li{
  list-style: none;
  /* margin-right: 50px; */
  margin-top: 15px;
}
.image-container{
  display: flex;

}
.image{
  margin-right: 10px;
}
